{% extends "aiseg/base.html" %}
{% load static i18n dictionary list%}

{% block content_block %}

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p class="h3">Edit or create a dataset</p>
        <small>You can for example change the dataset name, which is displayed at the comparison view.
        Number of images is only informational</small>
        {% for form_field in form %}
            {# -------- #}
            {# Sub rows #}
            {# -------- #}

            {% if form_field.name|is_in_string_list:'name;number_training_images' %}
                <div class="row em1">
            {% endif %}


            {# ------------- #}
            {# Fields #}
            {# ------------- #}

            <div class="col-sm">
                {% if not form_field.name|is_in_string_list:'model_path;data_folder' %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-6' beside_label_min_w='15em' field_col_size='col-8' min_width='9em' %}
                {% else %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors %}
                {% endif %}
            </div>

            {# --------------- #}
            {# Sub row closing #}
            {# --------------- #}

            {% if form_field.name|is_in_string_list:'folder_choice;number_validation_images' %}
                </div>
            {% endif %}

        {% endfor %}

        <div class='row em1'>
            {% if dataset %}
            <div class="col-sm {% if not delete_activated %} justify-content-end {% endif %}">
                <a class="btn btn-danger-form"
                   role="button"
                   href="{% url 'aiseg:delete_dataset' dataset.pk %}"
                   style="width: 100%;">
                    Delete
                </a>
            </div>
            {% endif %}

            <div class="col mb-1 d-flex justify-content-end">
                <button class="btn btn-success-form"
                        style="{% if not dataset %} width:50%; {% else %} width:100% {% endif %}"
                        type="submit">
                    Save
                </button>
            </div>
        </div>
    </div>

</form>

{% endblock content_block %}
