<body>
<div class="background" id="net-background"></div>
<div class="container-fluid">
    <div style="padding-left: 1em;">
        <img class="img-fluid" style="width:100vw;" src="{% static 'aiseg/images/main_theme/banner.svg' %}" alt="theme">

        <div class="div-right website-content">
            <main class="container-main">
                <form class="form-base-coloring" id="input_form" method="post" style="width: 100%"></form>
            </main>
        </div>
    </div>
</div>