@import url("colors.css");

/* Buttons ############################################################### Buttons*/

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary {
    color: var(--gray-dark-3);
    background-color: var(--teal-dark);
    border-color: var(--gray-dark-3);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: var(--teal);
    background-color: var(--gray-dark-3);
    border-color: var(--gray-dark-3);
}

.btn-primary-form {
    color: var(--teal);
    background-color: var(--gray-dark-3);
    border-color: var(--gray-dark-3);
}
.btn-primary-form-modal {
    color: var(--teal);
    background-color: var(--gray-dark-3);
    border-color: var(--teal);
}
.btn-primary-form:hover, .btn-primary-form:focus, .btn-primary-form:active, .btn-primary-form.active, .open>.dropdown-toggle.btn-primary-form {
    color: var(--gray-dark-3);
    background-color: var(--teal);
    border-color: var(--gray-dark-3);
}
.btn-primary-form-modal:hover, .btn-primary-form-modal:focus, .btn-primary-form-modal:active, .btn-primary-form-modal.active, .open>.dropdown-toggle.btn-primary-form-modal {
    color: var(--gray-dark-3);
    background-color: var(--teal);
    border-color: var(--gray-dark-3);
}

.btn-success-form {
    color: var(--teal);
    background-color: var(--success-green-dark);
    border-color: var(--success-green-dark);
}
.btn-success-form:hover, .btn-success-form:focus, .btn-success-form:active, .btn-success-form.active, .open>.dropdown-toggle.btn-success-form {
    color: var(--gray-dark-3);
    font-weight: 900;
    background-color: var(--success-green);
    border-color: var(--success-green-dark);
}

.btn-success-table {
    color: var(--teal);
    background-color: var(--success-green-dark);
    border-color: var(--success-green-dark);
}
.btn-success-table:hover, .btn-success-table:focus, .btn-success-table:active, .btn-success-table.active, .open>.dropdown-toggle.btn-success-table {
    color: var(--gray-dark-3);
    background-color: var(--success-green);
    border-color: var(--success-green-dark);
}

.btn-danger-form {
    color: var(--white);
    background-color: var(--danger-red);
    border-color: var(--danger-red);
}
.btn-danger-form:hover, .btn-danger-form:focus, .btn-danger-form:active, .btn-danger-form.active, .open>.dropdown-toggle.btn-danger-form {
    color: var(--white);
    font-weight: 900;
    background-color: var(--danger-red-dark);
    border-color: var(--danger-red-dark);
}

.btn-log-running {
    color: var(--white);
    background-color: var(--danger-red);
    border-color: var(--danger-red);
}
.btn-log-running:hover, .btn-log-running:focus, .btn-log-running:active, .btn-log-running.active, .open>.dropdown-toggle.btn-log-running {
    color: var(--teal);
    background-color: var(--gray-dark-3);
    border-color: var(--danger-red);
}
