@import url("colors.css");

.alert-custom-warning{
  background-color:var(--gray-light) !important;
  color: var(--gray-dark-3);
}

.alert-custom-background{
  background-color:var(--gray-light) !important;
  color: var(--gray-dark-3);
  opacity: 0.7;
  display: inline-block;
  margin-bottom: 0;
}
