/* ####################### alignment: left, right content */

.side-by-side-wrapper {
    display: flex;
}

.div-left-comparison {
  flex: 0 0 85%;
}

.div-left-25-percent {
  flex: 0 0 25%;
}
.div-left-50-percent {
  flex: 0 0 50%;
}
.div-left-75-percent {
  flex: 0 0 75%;
}

.div-left-50px {
  flex: 0 0 50px;
}
.div-left-100px {
  flex: 0 0 100px;
}
.div-left-150px {
  flex: 0 0 150px;
}
.div-left-200px {
  flex: 0 0 200px;
}

.div-right {
  flex: 1;
}
