/* Positioning ######################################## positioning*/
.em1 {
    margin-top: 1em;
}

.em2 {
    margin-top: 2em;
}
.em5 {
    margin-top: 5em;
}
.em10 {
    margin-top: 10em;
}

.em1-left {
    margin-left: 1em;
}

.centered-div {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.modal-window-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}