@import url("colors.css");

/* ##################################################################### custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--gray-light);
    -webkit-box-shadow: inset 0 0 6px rgba(42,42,43,0.5);
}

::-webkit-scrollbar:horizontal{
    height: 10px;
}

::-webkit-scrollbar-thumb:horizontal{
    background-color: var(--gray-dark-3);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(42,42,43,0.5);
}

::-webkit-scrollbar-track{
    background-color: var(--gray-dark-3);
    display: none;
}
