{% extends "aiseg/base.html" %}
{% load static i18n dictionary list%}

{% block content_block %}

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p style="font-size: 125%; font-weight: 500;">I need <a class="form-a " href="https://gitlab.com/fra-wa/aiseg#tutorial">Help</a></p>
        {% for form_field in form %}
            {# ---------------- #}
            {# Collapse opening #}
            {# ---------------- #}

            {% if form_field.name == 'do_rotate_x' %}
                <hr class="bg-secondary border-2 border-top border-secondary">
                <button class="btn btn-primary-form"
                        style="width:100%;"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseAugOperations"
                        aria-expanded="false"
                        aria-controls="collapseAugOperations">
                    Show executable augmentation methods
                </button>
                <div class="collapse" id="collapseAugOperations">
                    <div class="card card-body background-color-gray">

            {% endif %}

            {# -------- #}
            {# Sub rows #}
            {# -------- #}

            {% if form_field.name|is_in_string_list:'images_folder;dataset_choice;min_dimension_x;min_dimension_z;max_augmentations;do_rotate_x;do_random_flip;do_noise;do_brightness' %}
                <div class="row em1">
            {% endif %}


            {# ------------- #}
            {# Fields #}
            {# ------------- #}

            <div class="col-sm">
                {% if not form_field.name|is_in_string_list:'images_folder;masks_folder;dataset_choice;output_folder' %}
                    {% if 'do' in form_field.name %}
                        {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-3' beside_label_min_w='14em' field_col_size='col-3' min_width='9em' %}
                    {% else %}
                        {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-6' beside_label_min_w='21em' field_col_size='col-3' min_width='9em' %}
                    {% endif %}
                {% else %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors %}
                {% endif %}
            </div>

            {# ----------- #}
            {# Placeholder #}
            {# ----------- #}
            {% if form_field.name|is_in_string_list:'do_random_erasing' %}
                <div class="col"></div>
            {% endif %}

            {# --------------- #}
            {# Sub row closing #}
            {# --------------- #}

            {% if form_field.name|is_in_string_list:'masks_folder;output_folder;min_dimension_y;rotation_angle;total_augmentations;do_resize;do_random_crop;do_contrast;do_random_erasing' %}
                </div>
            {% endif %}

            {# ---------------- #}
            {# Collapse closing #}
            {# ---------------- #}
            {% if form_field.name == 'do_random_erasing' %}
                    </div>
                </div>
            {% endif %}

        {% endfor %}

        <div class='row justify-content-center em1'>
            <div class="col mb-1">
                <button id="js-run-button" class="btn btn-success-form" style="width:100%;" type="submit" {% if process_is_running %} disabled {% endif %}>
                    Run
                </button>
            </div>

            {% if process_is_running %}
                <div class="col">
                    <button id="js-run-kill-button" class="btn btn-danger-form" style="width:100%;" type="submit">
                        I read the warning. Run
                    </button>
                </div>
            {% endif %}
        </div>

    </div>
</form>

{% endblock content_block %}
