{% load static i18n %}

<!DOCTYPE html>
<html>

<head>
    <title>AiSeg</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="icon" href="{% static 'aiseg/images/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'aiseg/css/colors.css' %}">

    <link rel="stylesheet" href="{% static 'aiseg/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'aiseg/css/custom_alerts.css' %}">
    <link rel="stylesheet" href="{% static 'aiseg/css/custom_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'aiseg/css/div_alignment.css' %}">
    <link rel="stylesheet" href="{% static 'aiseg/css/links.css' %}">
    <link rel="stylesheet" href="{% static 'aiseg/css/relative_positioning.css' %}">
    <link rel="stylesheet" href="{% static 'aiseg/css/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'aiseg/css/search_dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'aiseg/css/utils.css' %}">

    {# Background: https://www.vantajs.com/ #}
    {% if background_active %}
        <script src="{% static 'aiseg/js/three.min.js' %}"></script>
        <script src="{% static 'aiseg/js/vanta.net.min.js' %}"></script>
    {% endif %}

    {% block header %}
    {% endblock header %}

</head>

{% if background_active %}
    <body>
    <div class="background" id="net-background"></div>
    <div class="container-fluid">
{% else %}
    <body style="background: url({% static 'aiseg/images/static_background.JPG' %}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class="container-fluid">
{% endif %}
        <div style="padding-left: 1em; position: relative">
            <img class="img-fluid" style="width:100vw;" src="{% static 'aiseg/images/main_theme/banner.svg' %}" alt="theme">
            {# ----------------- #}
            {# Navbar with image #}
            {# ----------------- #}

            <div class="side-by-side-wrapper">
                <div class="div-left-150px opacity-90">
                    {# --------------- #}
                    {# Left navigation #}
                    {# --------------- #}
                    <nav class="navbar navbar-custom justify-content-start">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% if navbar_view == 'index' %} active {% endif %}" href="{% url 'aiseg:index' %}">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if navbar_view == 'training' %} active {% endif %}" href="{% url 'aiseg:training_overview' %}">
                                    Training
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if navbar_view == 'inference' %} active {% endif %}" href="{% url 'aiseg:inference' %}">
                                    Inference
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if navbar_view == 'trained_models' %} active {% endif %}" href="{% url 'aiseg:trained_model_overview' %}">
                                    Trained Models
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if navbar_view == 'model_comparison' %} active {% endif %}" href="{% url 'aiseg:model_comparison' %}">
                                    Comparison
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if navbar_view == 'augmentation' %} active {% endif %}" href="{% url 'aiseg:augmentation' %}">
                                    Augmentation
                                </a>
                            </li>
                            <li class="nav-item">
                                <p class="em1 {% if navbar_view|is_in_string_list:'model_import;datasets;logs;monitor' %} text-color-white {% else %} text-color-gray {% endif %} ">More:</p>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if navbar_view == 'model_import' %} active {% endif %}" href="{% url 'aiseg:trained_model_import' %}">
                                    Model Import
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if navbar_view == 'datasets' %} active {% endif %}" href="{% url 'aiseg:datasets_overview' %}">
                                    Datasets
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if navbar_view == 'configurations' %} active {% endif %}" href="{% url 'aiseg:configurations_overview' %}">
                                    Configurations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if navbar_view == 'logs' %} active {% endif %}" href="{% url 'aiseg:logs' %}">
                                    Logs
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if navbar_view == 'monitor' %} active {% endif %}" href="{% url 'aiseg:monitor' '-1' %}">
                                    Monitor
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://gitlab.com/fra-wa/aiseg/-/blob/master/README.md">
                                    About
                                </a>
                            </li>
                            <li class="nav-item">
                                <p style="font-size: 75%; color: #84868b;">
                                    Background: <a class="nav-link" href="https://www.vantajs.com/">&#169;Vanta.js</a>
                                </p>
                                {% if not background_active %}
                                    <p style="font-size: 75%; color: #84868b;">
                                        Background animation has been stopped due to an active process to save computational resources.
                                    </p>
                                {% endif %}
                            </li>

                        </ul>

                    </nav>
                </div>

                {# -------------- #}
                {# Main container #}
                {# -------------- #}
                <div class="div-right website-content">
                    <main class="container-main" style="position: relative">
                        {% include "_messages.html" %}
                        {% block content_block %}
                        <!-- Content here -->
                        {% endblock content_block %}
                    </main>
                </div>
            </div>
        </div>
    </div>
    {% block additional_scripts %}

    {# ------------ #}
    {# Scripts here #}
    {# ------------ #}

    {% endblock additional_scripts %}
    <script src="{% static 'aiseg/js/form_submit_helper.js' %}"></script>
    {% if background_active %}
        <script src="{% static 'aiseg/js/background.js' %}"></script>
    {% endif %}
</body>

</html>