{% extends "aiseg/base.html" %}
{% load static i18n dictionary list%}

{% block content_block %}

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p style="font-size: 125%; font-weight: 500;">I need <a class="form-a " href="https://gitlab.com/fra-wa/aiseg#tutorial">Help</a></p>
        {% for form_field in form %}
            {# -------- #}
            {# Sub rows #}
            {# -------- #}

            {% if form_field.name|is_in_string_list:'model_path;device;log_thresh;weighting_strategy;batch_size;input_depth' %}
                <div class="row em1">
            {% endif %}
            
            {% if form_field.name|is_in_string_list:'batch_size' %}
                <hr class="hz-line-gray">
                <p class="text-color-gray-1" style="font-size: 125%; font-weight: 500;">Optional:</p>
                <small>
                    If you do not set these parameters, they will be calculated automatically based on the dimensions 
                    (height, width and possibly depth) of your data<br>and the available VRAM (or RAM if CPU). 
                    The calculation may take a while, but the calculated values are stored in the database, so the 
                    calculation is done only for the first time.
                </small>
            {% endif %}
            

            {# ------------- #}
            {# Fields #}
            {# ------------- #}

            <div class="col-sm">
                {% if not form_field.name|is_in_string_list:'model_path;data_folder' %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-4' beside_label_min_w='15em' field_col_size='col-3' min_width='9em' %}
                {% else %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors %}
                {% endif %}
            </div>

            {# ------------------ #}
            {# Fill missing space #}
            {# ------------------ #}

            {% if form_field.name|is_in_string_list:'weighting_strategy;input_depth' %}
                <div class="col-sm"></div>
            {% endif %}

            {# --------------- #}
            {# Sub row closing #}
            {# --------------- #}
            {% if form_field.name|is_in_string_list:'data_folder;save_color;overlap;input_size;input_depth' %}
                </div>
            {% endif %}

        {% endfor %}

        <div class='row justify-content-center em1'>
            <div class="col mb-1">
                <button id="js-run-button" class="btn btn-success-form" style="width:100%;" type="submit" {% if process_is_running %} disabled {% endif %}>
                    Run
                </button>
            </div>

            {% if process_is_running %}
                <div class="col">
                    <button id="js-run-kill-button" class="btn btn-danger-form" style="width:100%;" type="submit">
                        I read the warning. Run
                    </button>
                </div>
            {% endif %}
        </div>
    </div>

</form>

{% endblock content_block %}
