{% extends "aiseg/base.html" %}
{% load static i18n dictionary %}

{% block content_block %}
    <div class="row d-flex opacity-90">
        {% for log_name, log_query in logs.items %}
            {% if log_query %}
                <div class="col-3 em1" style="min-width: 250px;">
                    <h5 class="text-color-gray background-color-gray-dark-3">{{ log_name }}</h5>
                    <div class="dropdown_search_div">
                        <div id="{{ log_name }}" class="log_dropdown_search_content show">
                            <input type="text" class="dropdown_search_input js-dropdown-filter-input" data-parent_div_id="{{ log_name }}" placeholder="Search..">
                            <div class="default-vt-scroll-menu" style="max-height: 50vh; min-height: 10vh;">
                                {% for log in log_query %}
                                    {% if log.model_analysis %}
                                        <a class="logs-a{% if log in running_logs %} active{% endif %}" href="{% url 'aiseg:monitor' log.pk %}">
                                            {{log.model_analysis.dataset.name}} ({{log.process_start_datetime|date:"d.m.y., G:i:s" }}{% if log in running_logs %}, running {% endif %})
                                        </a>
                                    {% else %}
                                        <a class="logs-a{% if log in running_logs %} active{% endif %}" href="{% url 'aiseg:monitor' log.pk %}">
                                            {{ log.process_start_datetime|date:"d.m.y., G:i:s" }}{% if log in running_logs %} (running) {% endif %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content_block %}
{% block additional_scripts %}
    <script src="{% static 'aiseg/js/dropdown_search.js' %}"></script>
{% endblock additional_scripts %}