{% extends "aiseg/base.html" %}
{% load static i18n dictionary list modulo %}

{% block content_block %}

<div class="modal hide fade in" id="waitModal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content background-color-gray-dark-3">
            <div class="modal-header">
                <h5 class="modal-title text-color-teal">Please wait!</h5>
            </div>

            <div class="modal-body text-color-dark-teal">
                <p>
                    The export is ongoing. This might take a while
                </p>
            </div>
        </div>
    </div>
</div>

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p class="h3">Export model analyses</p>
        <p>Select the datasets you want to export. The folder containing the exports will open automatically.</p>
        {% for form_field in form %}
            {# -------------- #}
            {# dynamic fields #}
            {# -------------- #}

            {% if forloop.counter0|modulo:3 == 0 and not forloop.first %}
                </div>
            {% endif %}
            {% if forloop.counter0|modulo:3 == 0 %}
                <div class="row em1">
            {% endif %}

            <div class="col-sm">
                {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-1' beside_label_min_w='16em' field_col_size='col-1' min_width='2em' %}
            </div>
            {% if forloop.last and not forloop.counter|modulo:3 == 0 %}
                {% if forloop.counter0|modulo:3 == 2 %}
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>
                {% elif forloop.counter0|modulo:3 == 1 %}
                    <div class="col-sm"></div>
                {% endif %}
            {% endif %}

            {% if forloop.last and not forloop.counter0|modulo:3 == 0 %}
                </div>
            {% endif %}

        {% endfor %}

        <div class='row em1'>
            <div class="col mb-1 d-flex justify-content-end">
                <button class="btn btn-success-form"
                        style="width: 100%;"
                        type="submit"
                        data-bs-toggle="modal"
                        data-bs-target="#waitModal">
                    Export
                </button>
            </div>
        </div>
    </div>

</form>

{% endblock content_block %}
