{% extends "aiseg/base.html" %}
{% load static i18n dictionary modulo %}

{% block header %}
<!-- load highcharts and annotations -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/annotations.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock header %}

{% block content_block %}

<div class="content-base-background" style="min-width: 1500px; max-width: 1850px;">
    <div class="centered-div">
        <table class="table table-scroll-fixed table-borderless">
            <thead>
                <tr>
                    <th scope="col"><p class="h5">Training Information</p></th>
                </tr>
            </thead>

            {# General training information #}
            <thead class="background-color-gray-dark-1 text-color-gray-light">
                <tr>
                    <th scope="col" colspan="6"><b>Architectural settings and training info</b></th>
                </tr>
            </thead>
            <thead class="background-color-gray-dark-2 text-color-gray-light">
                <tr>
                    <th scope="col"><b>Model</b></th>
                    <th scope="col"><b>backbone</b></th>
                    <th scope="col"><b>Trained on</b></th>
                    <th scope="col"><b>Training duration</b></th>
                    <th scope="col"><b>Custom name</b></th>
                    <th scope="col">
                        <button class="btn btn-success-table"
                                name="set_custom_name"
                                form="custom_name_form_id"
                                type="submit"
                                style="width: 100%;">
                            Save custom name
                        </button>
                    </th>

                </tr>
            </thead>
            <tbody class="background-color-gray-dark-2 text-color-teal">
                <tr>
                    <td>{{ model_analysis.architecture }}</td>
                    <td>{% if model_analysis.backbone %}{{ model_analysis.backbone }}{% else %}/{% endif %}</td>
                    <td>{{ model_analysis.created_datetime }}</td>
                    <td>{% if total_training_duration %}{{ total_training_duration }}{% else %}Not determined{% endif %}</td>
                    <td colspan="2">
                        <form id="custom_name_form_id" method="post" style="width: 100%">
                            {% csrf_token %}
                            <div class="form-group justify-content-left">
                                {{ custom_name_form.custom_name }}
                                {% for key, value in custom_name_form.errors.items %}
                                    {% if key == custom_name_form.custom_name.name %}
                                        {% for error in custom_name_form.errors|get_item:key %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </form>

                    </td>
                </tr>
            </tbody>
            <thead class="background-color-gray-dark-2 text-color-gray-light">
                <tr>
                    <th scope="col"><b>Pretrained</b></th>
                    <th scope="col"><b>Normalization</b></th>
                    <th scope="col"><b>Input Channels</b></th>
                    <th scope="col"><b>Output Classes</b></th>
                    <th scope="col"><b>Input Dimensions</b> during training</th>
                    <th scope="col"><b>Optimizer</th>
                </tr>
            </thead>
            <tbody class="background-color-gray-dark-2 text-color-teal">
                <tr>
                    <td>{% if model_analysis.pretrained is not None %}{{ model_analysis.pretrained }}{% else %}Unknown{% endif %}</td>
                    <td>{% if model_analysis.normalization %}{{ model_analysis.normalization }}{% else %}unknown (old analysis){% endif %}</td>
                    <td>{{ model_analysis.channels }}</td>
                    <td>{{ model_analysis.classes }}</td>
                    <td>
                        {{ model_analysis.input_height }} x {{ model_analysis.input_width }}
                            {% if model_analysis.input_depth %} x {{ model_analysis.input_depth }} (H x W x D)
                            {% else %}(Height x Width)
                            {% endif %}
                    </td>
                    <td>{{ model_analysis.optimizer_name }}</td>
                </tr>
            </tbody>

            {# Learning rate settings #}
            <thead class="background-color-gray-dark-1 text-color-gray-light">
                <tr>
                    <th scope="col" colspan="6"><b>Learning rate settings</b></th>
                </tr>
            </thead>
            <thead class="background-color-gray-dark-2 text-color-gray-light">
                <tr>
                    <th scope="col"><b>LR Scheduler</b></th>
                    <th scope="col"><b>Initial learning rate</b></th>
                    <th scope="col"><b>LR step size</b></th>
                    <th scope="col"><b>LR warm up epochs</b></th>
                    <th scope="col"><b>LR constant epochs</b></th>
                    <th scope="col"><b>LR decay period</b></th>
                </tr>
            </thead>
            <tbody class="background-color-gray-dark-2 text-color-teal">
                <tr>
                    <td>{{ model_analysis.lr_scheduler }}</td>
                    <td>{{ model_analysis.init_learning_rate }}</td>
                    <td>{% if model_analysis.lr_scheduler != 'LinearLR' %}{{ model_analysis.lr_adjust_step_size }}{% else %}/{% endif %}</td>
                    <td>{% if model_analysis.lr_scheduler == 'LinearLR' %}{{ model_analysis.lr_warm_up_period }}{% else %}/{% endif %}</td>
                    <td>{% if model_analysis.lr_scheduler == 'LinearLR' %}{{ model_analysis.lr_constant_period }}{% else %}/{% endif %}</td>
                    <td>{% if model_analysis.lr_scheduler == 'LinearLR' %}{{ model_analysis.lr_decay_period }}{% else %}/{% endif %}</td>
                </tr>
            </tbody>

            {# Other settings #}
            <thead class="background-color-gray-dark-1 text-color-gray-light">
                <tr>
                    <th scope="col" colspan="6"><b>Other settings</b></th>
                </tr>
            </thead>

            <thead class="background-color-gray-dark-2 text-color-gray-light">
                <tr>
                    <th scope="col"><b>Dataset</b></th>
                    <th scope="col"><b>Online augmentation</b></th>
                    <th scope="col"><b>Total epochs</b></th>
                    <th scope="col"><b>Fine-tuning epoch</b></th>
                    <th scope="col"><b>Batch size</b></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="background-color-gray-dark-2 text-color-teal">
                <tr>
                    <td>{{ model_analysis.dataset.name }}</td>
                    <td>{% if model_analysis.online_aug_kwargs_string %}Yes{% else %}No{% endif %}</td>
                    <td>{{ model_analysis.total_epochs }}</td>
                    <td>{{ model_analysis.fine_tuning_epoch }}</td>
                    <td>{{ model_analysis.batch_size }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        {% if online_aug_table_data %}
            <button class="btn btn-primary-form"
                    style="width:100%;"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOnlineAugParas"
                    aria-expanded="false"
                    aria-controls="collapseOnlineAugParas">
                Show used online augmentation parameters
            </button>
            <div class="collapse" id="collapseOnlineAugParas">
                <table class="table table-scroll-fixed table-borderless">
                    {% for heads_bodies in online_aug_table_data %}
                        {% for head_body in heads_bodies %}
                            {% if forloop.first %}
                                <thead class="background-color-gray-dark-2 text-color-gray-light">
                                     <tr>
                                        {% for head in head_body %}
                                            <th scope="col"><b>{{ head }}</b></th>
                                        {% endfor %}
                                     </tr>
                                </thead>
                            {% else %}
                                <tbody class="background-color-gray-dark-2 text-color-teal">
                                     <tr>
                                        {% for body in head_body %}
                                            <td>{{ body }}</td>
                                        {% endfor %}
                                     </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        <table class="table table-scroll-fixed table-borderless">
            <thead>
                <tr>
                    <th scope="col"><p class="h5">Analysis</p></th>
                </tr>
            </thead>

            <thead class="background-color-gray-dark-2 text-color-gray-light">
                <tr>
                    <th scope="col"><b>Best Epoch</b><br><small class="text-color-gray-2">placeholder</small></th>
                    <th scope="col">
                        <b>Inference Time</b><br>h: 512, w: 512, {% if is_3d %}d{% else %}images{% endif %}: 256
                    </th>
                    <th scope="col"><b>Training Accuracy (Loss)</b><br><small class="text-color-gray-2">placeholder</small></th>
                    <th scope="col"><b>Validation Accuracy (Loss)</b><br><small class="text-color-gray-2">placeholder</small></th>
                    <th scope="col"><b>Testing Accuracy</b><br><small class="text-color-gray-2">placeholder</small></th>
                </tr>
            </thead>
            <tbody class="background-color-gray-dark-2 text-color-teal">
                <tr>
                    <td>
                        {% if model_analysis.best_epoch %}
                            {{ model_analysis.best_epoch }}{% if model_analysis.test_accuracy %} (Epoch used for testing: {{ model_analysis.testing_epoch }}){% endif %}
                        {% else %}
                            Training stopped before finished.<br><a class="nav-link-a" href="{% url 'aiseg:analyses_clean_up' %}">Calculate / Clean</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if model_analysis.inference_time %}
                            {{ model_analysis.inference_time }} s (See
                                {% if inference_log_for_link %}
                                    <a class="form-a" href="{% url 'aiseg:monitor' inference_log_for_link.pk %}">log</a>
                                {% else %}
                                    log
                                {% endif %}
                            for details)
                        {% else %}
                            Not calculated, you can start a test.<br>
                            Runs inference on random noise images.
                        {% endif %}</td>
                    <td>{{ model_analysis.training_accuracy }} % ({{ model_analysis.training_loss }})</td>
                    <td>{{ model_analysis.validation_accuracy }} % ({{ model_analysis.validation_loss }})</td>
                    <td>{% if model_analysis.test_accuracy %}{{ model_analysis.test_accuracy }} %{% else %}not tested{% endif %}</td>
                </tr>
            </tbody>
            <thead class="background-color-gray-dark-2 text-color-gray-light">
                <tr>
                    <th scope="col"><b>All Testing Pixels/Voxels</b></th>
                    <th scope="col"><b>TPR (Recall)</b></th>
                    <th scope="col"><b>TNR (Specificity)</b></th>
                    <th scope="col"><b>FPR (Fallout)</b></th>
                    <th scope="col"><b>FNR </b></th>
                </tr>
            </thead>
            <tbody class="background-color-gray-dark-2 text-color-teal">
                <tr>
                    <td>
                        {% if model_analysis.test_accuracy %}
                            {{ model_analysis.testing_all_pixels }}
                        {% else %}
                            not tested
                        {% endif %}
                    </td>
                    <td>
                        {% if model_analysis.test_accuracy %}
                            {{ model_analysis.testing_true_positives_ratio|floatformat:"5" }}
                        {% else %}
                            not tested
                        {% endif %}
                    </td>
                    <td>
                        {% if model_analysis.test_accuracy %}
                            {{ model_analysis.testing_true_negatives_ratio|floatformat:"5" }}
                        {% else %}
                            not tested
                        {% endif %}
                    </td>
                    <td>
                        {% if model_analysis.test_accuracy %}
                            {{ model_analysis.testing_false_positives_ratio|floatformat:"5" }}
                        {% else %}
                            not tested
                        {% endif %}
                    </td>
                    <td>
                        {% if model_analysis.test_accuracy %}
                            {{ model_analysis.testing_false_negatives_ratio|floatformat:"5" }}
                        {% else %}
                            not tested
                        {% endif %}
                    </td>
                </tr>
            </tbody>
            <form id="test_form" method="post" style="width: 100%">
                {% csrf_token %}
                <thead class="background-color-gray-dark-2 text-color-gray-light">
                    <tr>
                        <th scope="col"><b>Precision</b><br><small class="text-color-gray-2">placeholder</small></th>
                        <th scope="col"><b>{% if model_analysis.classes > 2 %}Mean IoU{% else %}IoU{% endif %}</b><br><small class="text-color-gray-2">placeholder</small></th>
                        <th scope="col"><b>Dice Coefficient</b><br><small class="text-color-gray-2">placeholder</small></th>
                        <th colspan="2" scope="col">
                            <div class="form-group justify-content-left">
                                {{ test_form.checkpoint_path }}
                                {% for key, value in test_form.errors.items %}
                                    {% if key == test_form.checkpoint_path.name %}
                                        {% for error in test_form.errors|get_item:key %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="background-color-gray-dark-2 text-color-teal">
                    <tr>
                        <td>{% if model_analysis.test_accuracy %}{{ model_analysis.testing_precision|floatformat:"5" }}{% else %}not tested{% endif %}</td>
                        <td>{% if model_analysis.test_accuracy %}{{ model_analysis.testing_mean_iou|floatformat:"5" }}{% else %}not tested{% endif %}</td>
                        <td>{% if model_analysis.test_accuracy %}{{ model_analysis.testing_dice_coefficient|floatformat:"5" }}{% else %}not tested{% endif %}</td>
                        <td>
                            <div class="side-by-side-wrapper">
                                <div class="div-left-50-percent justify-content-center">
                                    {% if devices_in_use %}
                                        <span class="d-inline-block"
                                              style="width: 100%"
                                              tabindex="0"
                                              data-toggle="tooltip"
                                              data-placement="bottom"
                                              title="Disabled: devices are in use.">
                                    {% endif %}
                                    <button id="js-run-inference"
                                            class="btn btn-success-table"
                                            name="run_inference"
                                            form="test_form"
                                            type="submit"
                                            style="width: 95%;{% if devices_in_use %} pointer-events: none;{% endif %}"
                                            {% if devices_in_use %}disabled{% endif %}>
                                        Run timing test
                                    </button>
                                    {% if devices_in_use %}
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="div-right justify-content-center">
                                    {% if not test_dataset_exists %}
                                        <span class="d-inline-block"
                                              style="width: 100%"
                                              tabindex="0"
                                              data-toggle="tooltip"
                                              data-placement="bottom"
                                              title="Disabled: test dataset is missing.">
                                    {% elif devices_in_use %}
                                        <span class="d-inline-block"
                                              style="width: 100%"
                                              tabindex="0"
                                              data-toggle="tooltip"
                                              data-placement="bottom"
                                              title="Disabled: devices are in use.">
                                    {% endif %}
                                    <button id="js-run-test"
                                            class="btn btn-success-table"
                                            name="run_test"
                                            form="test_form"
                                            type="submit"
                                            style="width: 95%;{% if not test_dataset_exists or devices_in_use %} pointer-events: none;{% endif %}"
                                            {% if not test_dataset_exists or devices_in_use %} disabled{% endif %}>
                                        Run new test
                                    </button>
                                    {% if not test_dataset_exists or devices_in_use %}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="side-by-side-wrapper">
                                <div class="div-left-50-percent justify-content-center">
                                    <span class="d-inline-block"
                                          style="width: 100%"
                                          tabindex="0"
                                          data-toggle="tooltip"
                                          data-placement="bottom"
                                          title="Select the device you want to process on.">
                                        {{ test_form.device }}
                                    </span>
                                </div>
                                <div class="div-right justify-content-center">
                                    <span class="d-inline-block"
                                          style="width: 100%"
                                          tabindex="0"
                                          data-toggle="tooltip"
                                          data-placement="bottom"
                                          title="Set the overlap during testing/timing. See training for more info. 0% is the same as used during training.">
                                        <div class="input-group">
                                            {{ test_form.overlap }}
                                            {% if test_form.overlap.field.widget.attrs.unit %}
                                                <div class="input-group-append">
                                                   <span class="input-group-text">{{ test_form.overlap.field.widget.attrs.unit }}</span>
                                               </div>
                                            {% endif %}
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>

        {% if testing_multiclass_table_data %}
            <button class="btn btn-primary-form"
                    style="width:100%;"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTestingResults"
                    aria-expanded="false"
                    aria-controls="collapseTestingResults">
                Show single class performance
            </button>
            <div class="collapse" id="collapseTestingResults">
                <table class="table table-scroll-fixed table-borderless">
                    {% for line in testing_multiclass_table_data %}
                        {% if forloop.first %}
                            <thead class="background-color-gray-dark-2 text-color-gray-light">
                                <tr>
                                    {% for head in line %}
                                        <th scope="col"><b>{{ head }}</b></th>
                                    {% endfor %}
                                </tr>
                            </thead>
                        {% else %}
                            <tbody class="background-color-gray-dark-1 text-color-teal">
                                <tr>
                                    {% for value in line %}
                                        {% if forloop.first %}
                                            <td class="background-color-gray-dark-2 text-color-gray-light"><b>{{ value }}</b></td>
                                        {% else %}
                                            <td>{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {% if related_logs %}
            <p class="h5 em1">Related Logs:</p>
            <div class="hz-from-scroll-menu">
                {% for log_name, log_query in related_logs.items %}
                    {% for log in log_query %}
                        <a class="btn hz-scroll-form-btn"
                           role="button"
                           href="{% url 'aiseg:monitor' log.pk %}"
                           style="min-width: 10%;">
                            {{ log_name }}: {{ log.process_start_datetime|date:"l, d.m.y., G:i:s" }}
                        </a>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="row em1">
            {% if train_loss %}
                <div class="col" id="js-accuracy-graph" style="width:100%; height:500px;"></div>
            {% endif %}
            {% if train_loss %}
                <div class="col" id="js-loss-graph" style="width:100%; height:500px;"></div>
            {% endif %}
            {% if train_loss %}
                <p class="text-color-gray-3"><b>Zoom</b>: dragging out a rectangle in the chart&emsp;&emsp;<b>Enable a line</b>: click on legend</p>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-6 mb-1 d-flex justify-content-center">
                <a class="btn btn-danger-form"
                   role="button"
                   href="{% url 'aiseg:delete_model_analysis' model_analysis.pk %}"
                   style="width: 100%;">
                    Delete from Database
                </a>
            </div>
            <div class="col-6 mb-1 d-flex justify-content-center">
                <form id="export_helper_form" method="post" style="width: 100%">
                    {% csrf_token %}
                    <button id="js-run-inference"
                            class="btn btn-success-form"
                            name="export"
                            type="submit"
                            style="width: 100%;">
                        Export
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content_block %}

{% block additional_scripts %}
    <p class="js-data-holder"
       data-best_epoch="{{ model_analysis.best_epoch }}"
       data-train_loss="{{ train_loss }}"
       data-valid_loss="{{ valid_loss }}"
       data-train_acc="{{ train_acc }}"
       data-valid_acc="{{ valid_acc }}"
       data-max_loss_val="{{ max_loss_val }}">
    </p>
    <script src="{% static 'aiseg/js/model_analysis.js' %}"></script>
{% endblock additional_scripts %}
