{% extends "aiseg/base.html" %}
{% load static i18n dictionary list%}

{% block content_block %}

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p style="font-size: 125%; font-weight: 500;">I need <a class="form-a " href="https://gitlab.com/fra-wa/aiseg#tutorial">Help</a></p>
        {% for form_field in form %}

            {# -------- #}
            {# Sub rows #}
            {# -------- #}

            {% if form_field.name|is_in_string_list:'model_path;dataset_choice;epochs;device;save_every' %}
                <div class="row em1">
            {% endif %}


            {# ------------- #}
            {# Fields #}
            {# ------------- #}

            <div class="col-sm">
                {% if not form_field.name|is_in_string_list:'model_path' %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-4' beside_label_min_w='13em' field_col_size='col-4' min_width='20em' %}
                {% else %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors %}
                {% endif %}
            </div>

            {# --------------- #}
            {# Sub row closing #}
            {# --------------- #}

            {% if form_field.name|is_in_string_list:'model_path;reproduce;batch_size;num_gpus;save_every' %}
                {% if form_field.name == 'save_every' %}
                    <div class="col"></div>
                {% endif %}
                </div>
            {% endif %}

            {# ---------------- #}
            {# Collapse Closing #}
            {# ---------------- #}

        {% endfor %}

        <div class='row justify-content-center em1'>
            <div class="col mb-1">
                <button id="js-run-button" class="btn btn-success-form" style="width:100%;" type="submit" {% if process_is_running %} disabled {% endif %}>
                    Run
                </button>
            </div>

            {% if process_is_running %}
                <div class="col">
                    <button id="js-run-kill-button" class="btn btn-danger-form" style="width:100%;" type="submit">
                        I read the warning. Run
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</form>

{% endblock content_block %}

{% block additional_scripts %}
    <script src="{% static 'aiseg/js/enable_disable_multi_gpu_field.js' %}"></script>
{% endblock additional_scripts %}
