{% extends "aiseg/base.html" %}
{% load static i18n dictionary %}

{% block content_block %}

<div class="container align-items-center em5">
    <div class="row em2">
        <div class="col">
            <a role="button" class="btn btn-primary btn-lg rounded-pill" href="{% url 'aiseg:new_training' %}" style="font-size: 200%; min-width: 75%;">
                Training
            </a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-primary btn-lg rounded-pill" href="{% url 'aiseg:continuing' %}" style="font-size: 200%; min-width: 75%;">
                Continuing
            </a>
        </div>
    </div>

</div>

{% endblock content_block %}
